absl-py==0.14.0
aioredis==1.3.1
appdirs==1.4.4
APScheduler==3.6.3
arabic-reshaper==2.1.3
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.2.0
autobahn==22.1.1
Automat==20.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
black==21.10b0
braces.py==0.4.0
bs4==0.0.1
cachetools==4.2.2
calc==1.0
certifi==2020.12.5
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
chardet==3.0.4
charset-normalizer==2.0.6
 
click==8.0.3
colorama==0.3.9
colorlog==6.6.0
configparser==3.8.1
constantly==15.1.0
crayons==0.4.0
cryptography==35.0.0
cssselect==1.1.0
cssselect2==0.4.1
cycler==0.10.0
daphne==3.0.2
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.3
dj-database-url==0.5.0
dj-email-url==1.0.2
dj-static==0.0.6
Django==4.0.3

django-braces==1.15.0
django-cache-url==3.2.3
django-ckeditor==6.3.0
django-cors-headers==3.11.0
django-countries==7.2.1
django-crispy-forms==1.13.0

django-filter==21.1
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.13.4
django-mptt-autocomplete==0.1.3

django-phonenumber-field==5.2.0
django-qr-code==2.2.0
django-scss==0.6.1
django-sesame==2.4
django-social-share==2.2.1
django-sslserver==0.22
django-websocket-redis==0.6.0
djangorestframework==3.12.4
djongo==1.3.6
EasyProcess==0.3
emoji==1.5.0
environs==8.0.0
fake-useragent==0.1.11
filelock==3.3.1
Flask==2.0.2
future==0.18.2
gevent==21.12.0
googleapis-common-protos==1.53.0
googletrans==3.0.0
greenlet==1.1.2
grpcio==1.40.0
gunicorn==19.9.0
h11==0.9.0
h2==3.2.0
hiredis==2.0.0
hpack==3.0.0
hstspreload==2021.9.1
html5lib==1.1
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.8
 
incremental==21.3.0
influxdb-client==1.25.0
instagram==1.3.4
instagram-private-api==1.6.0.0
instaloader==4.8.1
instapy==0.6.13
iso8601==0.1.16
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==2.6.0
kiwisolver==1.3.2
lxml==4.6.2
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.14.0
matplotlib==3.4.3
MeaningCloud-python==2.0.0
mediapipe==0.8.7.3
msgpack==1.0.3
mypy-extensions==0.4.3
numpy==1.21.2
oauthlib==3.1.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
packaging==21.3
pandas==1.3.4
parse==1.18.0
pathspec==0.9.0
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
pdfkit==0.6.1
pexpect==4.8.0
phonenumbers==8.12.36
Pillow==8.3.2
platformdirs==2.4.0
plyer==2.0.0
protobuf==3.18.0
psycopg2==2.9.1
ptyprocess==0.7.0
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyee==7.0.4
pyFirmata==1.1.0
PyJWT==2.3.0
pymongo==3.12.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyppeteer==0.2.3
pyquery==1.4.3
pyserial==3.5
pyspark==3.0.3
pyspark-stubs==3.0.0.post3
python-barcode==0.13.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.4
python-dotenv==0.19.1
python-slugify==3.0.2
python-telegram-bot==13.7
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
pyzbar==0.1.8
redis==4.1.4
regex==2021.8.28
reportlab==3.6.2

requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
Rx==3.2.0
segno==1.3.3
selenium==3.141.0
serial==0.0.97
service-identity==21.1.0
simplejson==3.17.6
six==1.12.0
sniffio==1.2.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
soupsieve==2.1
sqlparse==0.2.4
static3==0.7.0
Strip==0.0.1.dev14
stripe==2.61.0
svglib==1.1.0
tabulate==0.8.9
termcolor==1.1.0
text-unidecode==1.2
tinycss2==1.1.1
tomli==1.2.2
tornado==6.1
tqdm==4.55.1
Twisted==22.1.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing-extensions==3.10.0.2
tzdata==2021.1
tzlocal==3.0
ua-parser==0.10.0
urllib3==1.25.3
virtualenv==20.8.1
virtualenvwrapper-win==1.2.6
w3lib==1.22.0
webdriver-manager==3.4.2
webdriverdownloader==1.1.0.3
webencodings==0.5.1
websocket-client==1.2.3
websockets==8.1
Werkzeug==2.0.2
whitenoise==5.1.0
wrapt==1.13.3
xhtml2pdf==0.2.5
xls==0.0.2
XlsxWriter==3.0.1
zope.event==4.5.0
zope.interface==5.4.0
