{% extends 'frontend/master/master.html' %}
{% block content %}
{% load static %}
<body>
    <div id="hero" class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Salem Sif eddine</h1>
                    <div class="page-scroll">
                        <p class="job-title">software Developer & Digital marketer</p>
                        <a href="#contact" class="btn btn-fill ">Hire me</a>
                        <div class="clearfix visible-xxs"></div>
                        <a href="#portfolio" class="btn btn-border">Explore more</a>
                    </div>
                    <div class="social-icons">
                        <a data-toggle="tooltip" title="linkedin" target="”_blank”" href="https://www.linkedin.com/in/sif-eddine-salem-95049521a/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a data-toggle="tooltip" title="github" target="”_blank”" href="https://github.com/salemsifeddine">
                            <i class="fab fa-github"></i>
                        </a>
                         
                        <a data-toggle="tooltip" title="Facebook" target="”_blank”" href="https://web.facebook.com/Sifoutony/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a data-toggle="tooltip" title="instagram" target="”_blank”" href="https://www.instagram.com/joesdevil.fit/">
                            <i class="fab fa-instagram"></i>
                        </a>
            
                    </div>
                </div>

                <div class="col-md-6 text-right">
                    <img src="{% static 'assets/img/sifeddine.jpg' %}" alt="Sif eddine-Basnet">
                </div>

            </div>
        </div>
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>About</h2>
                        <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                        <p>
                            <img style="width:150px" class="imageaboutme" src="{% static 'assets/img/sifeddev.jpg' %}"/>
                            <br><br/>
                            Hello! I'm Sif eddine, a full stack developer,I study electrical and electronic engineering at IGEE ex inelec
                            ,Iam a guy slighty obsessed for code quality. I’m currently available for freelance work. If you have a project that you want to get started or think you need my help with something, then get in touch.</p>
                        <a href="{% static 'assets/img/CV.pdf' %} " class="btn btn-fill" target="_blank" download>Download my cv</a>
                    </div>
                </div>
            </div>
        </section><!-- /.secton-about -->

        <section class="site-section section-skills">
            <div class="container">
                <div class="text-center">
                    <h3>My Skills</h3>
                    <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Html/css</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="100"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Python</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Django </h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="82"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Flutter</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="66"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>React.js / Next.js</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="77"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->

                </div>
            </div>
            </div>
        </section><!-- /.secton-skills -->

        <section id="service" class="site-section section-services overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>What i do</h3>
                        <img src="{%static 'assets/img/lines.svg'%}" class="img-lines" alt="">
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{% static 'assets/img/brc1.png' %}" alt="Front End Developer">
                            <h4>Front-end</h4>
                            <p>As a Python developer, I have experience in HTML, CSS3 and REACT.JS/NEXT.JS techniques working with Django Framework</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{% static 'assets/img/brc1.png' %}" alt="Back End Developer">
                            <h4>Back-end</h4>
                            <p>Utilising Django frameworks such as Tkinter, including REST APIs,
                                 e-learning, e-commerce applications and more.</p>
                        </div><!-- /.service -->
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{% static 'assets/img/gui3.png' %}" alt="Back End Developer">
                            <h4>Mobile Dev</h4>
                            <p>Utilising Flutter framework .</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{% static 'assets/img/gui2.png' %}" alt="GUI">
                            <h4>SEO Optimiser</h4>
                            <p>As well as providing SEO as desired by the user.</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-services -->
        <section id="portfolio">
            
    <div id="projects">
        <div class="heading-with-effect text-center aos-init aos-animate" data-aos="fade-up">
            <h1>Projects</h1>
            <span>Because work profile matters the most</span>
          </div>

          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 col-sm-12">
              <h1>Beliedelice</h1>
              <p>
                Beliedelice is a company which makes and product cookies and cake which is realted to it..
              </p>
            </div>
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="http://beliedelice.co/"><img src="{% static 'assets/img/cover1.png' %}" alt="Harsh Goel SRM University"></a>
            </div>
          </div>
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://wameedhsc.herokuapp.com/"><img src="{% static 'assets/img/cover2.png' %}" alt="Wameedh Sc"></a>
            </div>
            <div class="col-md-5 col-sm-12">
              <h1>Wameedh Sc</h1>
              <p style="text-align:left">
                Wameedh Sc, is a scientifique club in IGEE ex inelec at boumerdes-Algeria.

              </p>
            </div>
          </div>
          
           
           
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 col-sm-12">
              <h1>E-commerce</h1>
              <p>
                an e-commerce project with high resolution completed, very costomized, designed and delivered to another developer, 

              </p>
            </div>
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://github.com/salemsifeddine/django-ecommerce"><img src="{% static 'assets/img/cover3.png' %}" alt="Harsh Goel SRM University"></a>
            </div>
          </div>
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://stagecom.herokuapp.com/"><img src="{% static 'assets/img/cover4.png' %}" alt="Wameedh Sc"></a>
            </div>
            <div class="col-md-5 col-sm-12">
              <h1>Stagecom</h1>
              <p>
               Stagecom is a Start up which helps  students and gives them internships from the best companies
               in algeria..
              </p>
            </div>
          </div>
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 col-sm-12">
              <h1 style="font-size:43px">Weather station</h1>
              <p>
                Arduino weather station Project,This was an arduino web app weather station project which 
                can gives a weather data and show it on the website as well as ploting your choosen data
                
              </p>
            </div>
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://github.com/salemsifeddine/arduino-weather-station-app"><img src="{% static 'assets/img/cover5.png' %}" alt="Harsh Goel SRM University"></a>
            </div>
          </div>
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://github.com/salemsifeddine/e-commerce-website1"><img src="{% static 'assets/img/cover6.png' %}" alt="Wameedh Sc"></a>
            </div>
            <div class="col-md-5 col-sm-12">
              <h1>E-commerce </h1>
              <p>
               E-commerce project we are working on it, a store to shop and sell product, till now the website
               contains all functionnalities.. 
              </p>
            </div>
          </div>
          <!-- Insert -->
           
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 col-sm-12">
                <h1 style="text-align:start">E-service</h1>
                <p>
                 E-SERVICE is an online electronic digital service which can grow your busniess and 
                 sell services online, which i created ..
                </p>
            </div>
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://stagecom.herokuapp.com/"><img src="{% static 'assets/img/cover7.png' %}" alt="Wameedh Sc"></a>
            </div>
           
          </div>
        
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
           
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://stagecom.herokuapp.com/"><img src="{% static 'assets/img/cover8.png' %}" alt="Wameedh Sc"></a>
            </div>
            <div class="col-md-5 col-sm-12">
                <h1 style="text-align:start">Stock management</h1>
                <p>
                 Inventory stock management system website project.
                </p>
            </div>
          </div>

          

        
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 col-sm-12">
                <h1>Grocery POS</h1>
                <p>
                 Grocery point of sale management system website.
                </p>
            </div>
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://stagecom.herokuapp.com/"><img src="{% static 'assets/img/cover10.png' %}" alt="Wameedh Sc"></a>
            </div>
           
          </div>


          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
           
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://stagecom.herokuapp.com/"><img src="{% static 'assets/img/cover9.png' %}" alt="Wameedh Sc"></a>
            </div>
            <div class="col-md-5 col-sm-12">
                <h1>Point of sale </h1>
                <p>
                Point of sale management system website project.
                </p>
            </div>
          </div>
          <div class="row text-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-md-5 col-sm-12">
                <h1>Control Access System </h1>
                <p>
                    Control Access System with radio frequency (IOT) controlled and 
                    connected with a dashboared using React&Django.
                </p>
            </div>
            <div class="col-md-7 col-sm-12 project-img-col">
              <a href="https://stagecom.herokuapp.com/"><img src="{% static 'assets/img/Desktop.png' %}" alt="Wameedh Sc"></a>
            </div>
           
          </div>



      </div>
        </section>


        <section class="site-section section-counters text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="2" data-speed="2000">0</p>
                        <h4>Years Experience</h4>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="8" data-speed="2000">0</p>
                        <h4>Projects Delivered</h4>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>
                        <h4>Seconds on this site!<br>What are you waiting for?</h4>
                    </div>
                </div>
            </div>
            
        </section><!-- /.section-counters -->

        <section id="contact" class="site-section section-form text-center">
            <div class="container">

                <h3>Contact</h3>
                <img src="{% static 'assets/img/lines.svg' %}" class="img-lines" alt="lines">
                <form method="POST">
                    {% csrf_token %}
                     
                    <div class="row">
                        <div class="col-sm-6">
                            {{form.first_name}}
                        </div>
                        <div class="col-sm-6">
                            {{form.email}}
                        </div>
                        <div class="col-sm-12">
                            {{form.subject}}
                        </div>
                    </div>
                     
                    <button class="btn btn-border" type="submit">Hire Me <span class="glyphicon glyphicon-send"></span></button>
                </form>
            </div>
        </section><!-- /.section-form -->



    </main>

    <div id="site-preloader" class="site-preloader">
        <div class="loader-wrap">
            <div class="ring">
                <span></span>
            </div>
            <h2>E-SERVICES</h2>
        </div>
    </div>
    <script>
        function myGreeting() {
            document.getElementById("site-preloader").style.display="none";
          }
        setTimeout(myGreeting, 1000);
            

       
    </script>
</body>
    
{% endblock %}
